:root {
    --color-primary: rgba(248, 49, 49, 1);
    --color-secondary: rgba(29, 29, 29, 1);
    --color-tertiary: rgba(236, 236, 236, 1);
    --navigation-bgc: rgba(21, 21, 21, 1);
    --footer-bgc: rgba(21, 21, 21, 1);
    --list-marker: rgba(61, 61, 61, 1);
    --header-bgc: rgba(59, 59, 59, 1);
    --white: rgba(255, 255, 255, 1);
    --section-subtitle: rgba(162, 162, 162, 1);

    // Courses bundles
    --courses-bundle-bgc: rgba(37, 37, 37, 1);

    // ### DIVIDER ###
    --divider-color: rgba(102, 102, 102, 1);

    // ### BLOG ###
    --blog-post-list-shortened-bgc: rgba(37, 37, 37, 1);
    --blog-post-date-bgc: rgba(82, 82, 82, 1);
    --blog-post-bgc: rgba(37, 37, 37, 1);
    --blog-post-sidebar-bgc: rgba(37, 37, 37, 1);

    // ### CLASSES ###
    --class-general-info-border: rgba(69, 69, 69, 1);
    --class-social-icon-color: rgba(170, 170, 170, 1);

    // ### ABOUT US ###
    --client-story-bgc: rgba(243, 243, 243, 1);
    --client-story-text-color: rgba(51, 51, 51, 1);

    // ### STORIES ###
    --stories-list-bgc: rgba(51, 51, 51, 1);

    // ### FOOTER ###
    --footer-copyrights-bgc: rgba(29, 29, 29, 1);

    // ### BUNDLES ###
    --price-cotnainer-border-hover: rgba(155, 50, 50, 1);

    // ### TRAINERS MINI PROFILE ###
    --trainers-mini-profile-info-bgc: rgba(61, 61, 61, 1);
    --trainers-mini-profile-socials-bgc: rgba(88, 88, 88, 1);

    // ### EVENTS CALENDAR ###
    --events-calendar-border: rgba(221, 221, 221, 1);

    --events-calendar-even-event-cell-bgc: rgba(210, 210, 210, 1);
    --events-calendar-odd-event-cell-bgc:rgba(230, 230, 230, 1);
    --events-calendar-footer:rgba(109, 109, 109, 1);

    // ### SHORTCUT ###
    --shortcut-news-bgc: rgba(236, 236, 236, 1);
    --shortcut-news-text-color: rgba(21, 21, 21, 1);
    --shortcut-news-heading-color: rgba(21, 21, 21, 1);
    --shortcut-partners-bgc: rgba(236, 236, 236, 1);
    --shortcut-partners-heading-color: rgba(0, 0, 0, 1);
    --shortcut-training-plans-bgc: rgba(61, 61, 61, 1);
    --shortcut-training-plans-heading-color: rgba(255, 255, 255, 1);

    // ### BUTTONS ### //
    --btn-disabled: gray;
}