.btn {
    &__more {
        display: inline-block;
        margin-top: 1em;
        padding: .5em 1em;
        color: black;
        border: 1px solid black;
        font-weight: bold;
        &:hover,
        &:focus,
        &:active {
            background-color: black;
            color: var(--white);
        }
    }
}