.input {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  overflow: hidden;
  border-left: 0;
  transition: .2s border-left;
  @media (max-width: 468px) {
    width: 100%;
  }
  &:focus {
    outline: none;
    border-left: 4px solid var(--color-primary);
    transition: .3s border-left;
  }
  &:not(:last-of-type) {
    margin-right: 1.25rem;
  }
  &__submit {
    margin-top: 2rem;
    color: var(--white);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    cursor: pointer;
    &:hover,
    &:focus,
    &:active {
        background-color: transparent;
        color: var(--color-primary);
    }
  }
  &__fieldset {
    display: flex;
    width: 100%;
    padding: 0;
    border: 0;
    @media (max-width: 468px) {
      flex-direction: column;
    }
  }
  &__login {
    min-width: 12rem;
  }
  &__email {
    min-width: 12rem;
  }
  &__password {
    min-width: 12rem;
  }
}

.contact {
  &__message {
    width: 100%;
    min-height: 10rem;
    resize: none;
  }
}
